.list-group{
    width: 100%;

    &-item{
        background: transparent;
        text-align: center;
        font-size: 2em;
        transition: color .2s ease-in-out;

        h4{
            text-transform: uppercase;
            font-size: .8rem;
            color: #00a0a0;
            font-weight: 700;
            transition: color .2s ease-in-out;
        }

        .cents{
            font-size: 0.6em;
        }

        &.disabled{
            background: transparent;
            color: #ccc;
            h4{
                color: #ccc;
            }
        }
    }
}