.list-group{
    flex-direction: row;
    width: 100%;

    &-item{
        background: transparent;
        border: none;
        border-right: 1px solid #ccc !important;
        width: 33%;
        text-align: center;
        font-size: 2em;

        &:last-child{
            border-right: none !important;
        }

        h4{
            text-transform: uppercase;
            font-size: .8rem;
        }

        .cents{
            font-size: 0.6em;
        }
    }
}