html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

body.fontLoaded {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#root {
  background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: 100%;
  min-width: 100%;
}

p,
label {
  font-weight: 300;
  line-height: 1.5em;
}